.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 23, 23);
    color: white;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
    padding: 0.8rem;
    border-radius: 20px;
    border: 2px solid #efb506;
}