.cart-counter {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 35px;
    right: 40px;
    position: absolute;
}

@media screen and (max-width: 890px) {
    .cart-counter {
        top: 355px;
    }
}