@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(rgba(181, 181, 181, 0.799), rgba(181, 180, 180, 0.784)), url("https://www.palco23.com/files/2020/19_redaccion/equipamiento/base/tienda-base-948.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  padding-bottom: 9.7rem;
  min-height: 100vh;
}