@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    background-color: rgb(25, 23, 23);
}

.navbar-logo {
    font-family: 'Satisfy', cursive;
    color: #efb506;
    justify-self: start;
    margin-left: 2rem;
    margin-right: 35rem;
    font-size: 2.6rem;
    cursor: pointer;
}

.nav-list {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #efb506;
}

.nav-link.active {
    color: white;
    transition: all 0.3s;
    text-shadow: 1px 3px 5px rgba(255, 200, 0, 0.9);
}

.nav-link:hover {
    color: white;
    transition: all 0.3s;
    text-shadow: 1px 3px 5px rgba(255, 200, 0, 0.9);
}

.carrito {
    color: #efb506;
    display: flex;
    font-size: 1.8rem;
    margin-right: 3rem;
    cursor: pointer;
    text-decoration: none;
}